@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(103, 59, 145);
  background-repeat: no-repeat;
}
#stars {
  position: absolute;
  background-image: url(https://www.nicepng.com/png/full/6-60771_space-stars-png-transparent-pattern.png);
  background-size: 300px;
  width: 100%;
  height: 100%;
  z-index: -2;
}
#tudo {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgb(74, 113, 206, 0.2),
    rgb(103, 59, 145, 0.2)
  );
  background-repeat: no-repeat;
}
#planet {
  position: absolute;
  width: 35%;
  top: 0;
  left: 0;
  z-index: -2;
  user-select: none;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  margin-bottom: 10px;
  background-color: rgba(207, 207, 207, 0.3);
  border-bottom: solid rgba(207, 207, 207, 0.01) 1px;
  border-radius: 0 0 18px 18px;
  font-family: "Amatic SC";
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 13px;
  text-align: center;
  width: fit-content;
  user-select: none;
}
#ulNav {
  display: flex;
  align-items: center;
  justify-content: center;
}
#liPerg h1 {
  width: fit-content;
}
#perg {
  width: 50%;
}
.listNav {
  display: inline-block;
}
.navIcons {
  margin-top: 10%;
  margin-left: 15px;
  margin-right: 15px;
  width: 20px;
}
#nextPageIcon {
  margin-bottom: 5px;
}
#nextPageIcon2 {
  margin-bottom: -1.5%;
  width: 22px;
}

#main {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#exp {
  width: 60%;
  height: fit-content;
  font-family: quicksand;
  background-color: rgba(207, 207, 207, 0.3);
  border: solid rgba(207, 207, 207, 0.01) 10px;
  border-radius: 18px;
  color: white;
}
#astroBoy {
  width: 100%;
}
#flutuador {
  position: absolute;
  right: 5%;
  width: 15%;
  z-index: 0;
  animation: astroNauto 4s ease-in-out 0s infinite normal;
  user-select: none;
}
@keyframes astroNauto {
  0% {
    top: 5mm;
  }
  50% {
    top: 70mm;
  }
  100% {
    top: 5mm;
  }
}
#giraAstro {
  animation: giraGira 10s linear 0s infinite normal;
}
@keyframes giraGira {
  from {
    rotate: 360deg;
  }
}
#aniDeEntrada {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: lavinia 7s linear 0s 1 normal;
  animation-fill-mode: backwards;
  top: -10000px;
}
#cj {
  width: 35%;
  user-select: none;
}
@keyframes lavinia {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0.5;
  }
}
@media screen and (max-width: 700px) {
  #exp {
    font-size: 3vw;
  }
  nav {
    font-size: 2.5vw;
  }
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgba(99, 145, 253, 0.3);
  box-shadow: inset 0 0 3px 0.1px white;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(163, 128, 196);
  border-radius: 50px;
}
::selection {
  background-color: rgba(237, 138, 255, 0.45);
  color: black;
}
